<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urop"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
	<!--  task permission -->
	<uses-permission android:name="android.permission.GET_TASKS" />
    <!-- socket permission -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>	 
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    
    <!-- service permission -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />
    
   	<!-- phone permission -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
		
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.urop.contextlogger.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--  contextcollector service -->
        <service
            android:name="com.urop.contextcollector.AppCounterService"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <service
            android:name="com.urop.contextcollector.ProcessMemService"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <service
            android:name="com.urop.contextcollector.CollectorPersistentService"
            android:enabled="true"
            android:process=":remote" >
        </service>
 
        <receiver
            android:name="com.urop.contextcollector.CollectorRestartService"
            android:enabled="true"
            android:exported="false"
            android:label="RestartService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="ACTION.RESTART.PersistentService" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--  contexttransmitter service -->
        <service
            android:name="com.urop.contexttransmitter.TransmitterPersistentService"
            android:enabled="true"
            android:process=":remote" >
        </service>
 
        <receiver
            android:name="com.urop.contexttransmitter.TransmitterRestartService"
            android:enabled="true"
            android:exported="false"
            android:label="RestartService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="ACTION.RESTART.PersistentService" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
